<div id="container">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <header>
    <div class="header-left">
      <div class="header-left__img" @imgStart routerLink="/"  *ngIf="getCurrentUrl() !== '/'"></div>

    </div>
    <div class="header-right">
      <div class="register" *ngIf="!isAuthenticated()" routerLink="register" [routerLinkActive]="['active']">Зарегестрироваться</div>
      <div class="login" *ngIf="!isAuthenticated()" routerLink="login" [routerLinkActive]="['active']">Войти</div>
      <div class="email" *ngIf="isAuthenticated()">{{ email }}</div>
      <div class="logout" *ngIf="isAuthenticated()" (click)="logout()">Выйти</div>
    </div>

  </header>

  <router-outlet></router-outlet>
</div>
